#block-simpleads-ad-groups-489, #block-simpleads-ad-groups-490 {
  display: none;
  visibility: hidden;
}

/* override calendar module defaults */
body.calendar {
  width: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: "Anton", sans-serif;
}

body, #main-menu ul.menu, #user-menu {
  font-family: "Roboto", sans-serif;
}

.node {
  h1.title {
    text-transform: capitalize;
    line-height: 1.1em;
  }
}

.node-teaser {
  h2.title {
    text-transform: capitalize;
  }
}

.preface-wrapper {
  .block-inner {
    .views-field-title {
      h3 {
        text-transform: capitalize;
      }
    }
  }
}

/* photo galleries block */
#block-views-business-top-stories-block-5 {
  .view-business-top-stories {
    display: flex;
    flex-wrap: nowrap;
    .view-content {
      flex-basis: 70%;
      margin-right: 2em;
    }
    .attachment {
      flex-basis: 30%;
      background-color: #f3f1f1;
      .view-business-top-stories {
        display: block;
        .view-footer {
          margin: 0;
          float: right;
        }
      }
      .view-content {
        flex-basis: 100%; /* override .view-content above */
        margin-right: 0;
      }
    }
    .views-field-title {
      h3 {
        text-transform: none;
      }
    }
    .views-field-field-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #block-simpleads-ad-groups-489, #block-simpleads-ad-groups-490 {
    display: block;
    visibility: visible;
  }

  /* photo galleries block */
  #block-views-business-top-stories-block-5 {
    .view-business-top-stories {
      display: flex;
      flex-wrap: wrap;
      .view-content {
        flex-basis: 100%;
        margin-right: 0;
      }
      .attachment {
        margin-top: 1em;
        flex-basis: 100%;
        .view-content {
          flex-basis: 100%;
          margin-right: 0;
        }
      }
    }
  }
}