#block-simpleads-ad-groups-489, #block-simpleads-ad-groups-490 {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 767px) {
    #block-simpleads-ad-groups-489, #block-simpleads-ad-groups-490 {
        display: block;
        visibility: visible;
    }
}

body.calendar {
    width: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: "Anton", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}