/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 3054px;
}

.site-logo img {
    width: 100%;
    max-width: 3054px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#main-content .block-simpleads .block-inner, .block-simpleads .block-inner {
    padding: 0;
    margin: 0;
    border: 0;
    border-width: 0;
    box-shadow: 0 0 0 0;
    text-align:center;
}

#main-content .block-simpleads .block-inner img, .block-simpleads .block-inner img {
    max-width:100%;
}

#block-simpleads-ad-groups-416 {
    margin-top: 5px;
}

#block-simpleads-ad-groups-417 {
    margin-top: 5px;
}

#block-simpleads-ad-groups-437 {
    margin-top: 5px;
}


/* Google DFP Ads
--------------------------------------------------------------------------*/

#block-dfp-tpa-northsidebar {
	margin-bottom: 10px;
}	

#block-dfp-tpa-northsidebar .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-dfp-tpa-northleaderboard {
	text-align:center;
	margin-top: 5px;
}

/* hide footer google adds on smaller screens */
@media only screen and (max-width: 727px) {
   #block-dfp-tpa-northleaderboard {
       display: none;
       visibility: hidden;
   }
}
