/* dfp ads */

#dfp-ad-banner > img {
    max-width: 100% !important;
}

#block-dfp-sidebar-1 .block-inner .content {
    padding: 0;
}

#block-dfp-cni-crossroadsleaderboard {
    width:728px;
    margin: 1.6em auto 0 auto;
}

#block-dfp-cni-crossroadsleaderboard iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-crossroadssidebar1 {
    width:300px;
}

#block-dfp-cni-crossroadssidebar1 iframe {
    width:300px;
    height:250px;
}

#block-dfp-cni-crossroadssidebar2 {
    width:300px;
}

#block-dfp-cni-crossroadssidebar2 iframe {
    width:300px; height:250px;
}

#block-dfp-cni-crossroadsfooter {
    width:728px;
    margin: 5px auto 1.4em;
}

#block-dfp-cni-crossroadsfooter iframe {
    width:728px;
    height:90px;
}

#block-dfp-cni-crossroadsmobile {
	width:130px;
	margin: 1.6em auto 1.6em auto;
}

/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #dfp-ad-cni_crossroadsbanner {
        width: 468px;
        margin: 0 auto ;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 10em;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #dfp-cni-crossroadsbanner {
        width: 468px;
        margin: 0 auto;
    }

    /* main menu */
    #main-menu ul.menu {
        margin-left: 6em;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-crossroadsleaderboard, #block-dfp-cni-crossroadsbanner, #block-dfp-cni-crossroadsfooter {
        display: none;
        visibility: hidden;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-crossroadsmobile {
        display: block;
        visibility: visible;
    }

    /* hide postscript menus completely, temporary solution until I figure out why the .menu list is being hidden*/
    #postscript .block-menu-block {
        display: none;
        visibility: hidden;
    }

}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-cni-crossroadsleaderboard, #block-dfp-cni-crossroadsbanner, #block-dfp-cni-crossroadsfooter {
        display: block;
        visibility: visible;
    }

    /* show mobile ad on smaller windows */
    #block-dfp-cni-crossroadsmobile {
        display: none;
        visibility: hidden;
    }

}


/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 773px;
}

.site-logo img {
    width: 100%;
    max-width: 773px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-453 {
	text-align:center;
}

#block-simpleads-ad-groups-453 img {
	max-width:100%;
}

#block-simpleads-ad-groups-454 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-454 img {
	max-width:100%;
}

#block-simpleads-ad-groups-455 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-455 img {
	max-width:100%;
}

#block-simpleads-ad-groups-456 {
	text-align:center;
}

#block-simpleads-ad-groups-456 img {
	max-width:100%;
}

#block-simpleads-ad-groups-457 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-457 img {
	max-width:100%;
}

#block-simpleads-ad-groups-458 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-458 img {
	max-width:100%;
}

#block-simpleads-ad-groups-459 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-459 img {
	max-width:100%;
}

#block-simpleads-ad-groups-460 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-460 img {
	max-width:100%;
}
