body {
  font-family: "Georgia", serif;
  line-height: 1.2em;
}
/* marketplace nav item */
#main-menu ul.menu li#menu-2444-1 {
  background-color: orange !important;
}
/* change title fonts */
.preface-wrapper .block-inner .views-field-title h3, h1.title, .node-teaser h2.title {
  font-family: "Georgia", serif;
  text-transform: none;
  font-weight: bold;
}
.preface-wrapper .block-inner .views-field-title h3 a, .node-teaser h2.title a {
  font-weight: bold;
}
.field-name-field-subhead {
  font-family: 'Lato', sans-serif;
}
.view-slideshow .views_slideshow_main .views-field-body {
    height: 70px;
}

/* preface ad */
#block-block-54 .block-inner,
#block-block-55 .block-inner {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}

#block-block-54 .block-inner .content,
#block-block-55 .block-inner .content {
  background: none;
  justify-content: center;
  display: flex;
}
