/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 1152px;
}

.site-logo img {
    width: 100%;
    max-width: 1152px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-415 {
	text-align:center;
}

#block-simpleads-ad-groups-415 img {
	max-width:100%;
}

#block-simpleads-ad-groups-416 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-416 img {
	max-width:100%;
}

#block-simpleads-ad-groups-417 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-417 img {
	max-width:100%;
}

#block-simpleads-ad-groups-418 {
	text-align:center;
}

#block-simpleads-ad-groups-418 img {
	max-width:100%;
}

#block-simpleads-ad-groups-419 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-419 img {
	max-width:100%;
}

#block-simpleads-ad-groups-420 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-420 img {
	max-width:100%;
}

#block-simpleads-ad-groups-421 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-421 img {
	max-width:100%;
}

#block-simpleads-ad-groups-422 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-422 img {
	max-width:100%;
}

#block-simpleads-ad-groups-447 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-447 img {
	max-width:100%;
}

#block-simpleads-ad-groups-448 img {
	max-width:100%;
}

#block-simpleads-ad-groups-448 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-449 img {
	max-width:100%;
}

#block-simpleads-ad-groups-449 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-529 img {
	max-width:100%;
}

#block-simpleads-ad-groups-529 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-530 img {
	max-width:100%;
}

#block-simpleads-ad-groups-530 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-531 img {
	max-width:100%;
}

#block-simpleads-ad-groups-531 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}




/* Google DFP Ads
--------------------------------------------------------------------------*/

#block-dfp-tpa-northsidebar {
	margin-bottom: 10px;
}

#block-dfp-tpa-northsidebar .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-dfp-tpa-northleaderboard {
	text-align:center;
	margin-top: 5px;
}

/* GALLERIA */
.galleria-theme-classic .galleria-info-text {
    background-image: url(../images/trans.png);
    padding: 2px;
}

.galleria-theme-classic .galleria-info {
    width: 100%;
    bottom: 53px;
    top: inherit;
    left: 5px;
}
