/* menus -- secondary menu block has different machine nam  */
#block-menu-block-2 {
    margin-right: 1em;
}

/* wider screens */
@media only screen and (min-width: 1059px) {

    #block-menu-block-2 {
        margin-right: 0;
    }

}

@media only screen and (min-width: 901px) {

    #block-menu-block-2 {
        float: right;
        height: 30px;
    }

    #block-menu-block-2 ul li.leaf,
    #block-menu-block-2 ul li.expanded {
        padding: 0 0 0.3em 0.6em;
    }

}