/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.site-logo img {
    width: 100%;
    max-width: 1000px;
}

/* main-menu background-color */
#block-superfish-1 {
    background-color: #007dbf;
}

.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
    background: #007dbf;
}

/* User Menu */
#block-system-user-menu {
    background-color: #ffffff;
    width: 100%;
}

#block-system-user-menu {
    background-color: #ffffff;
    width: 100%;
    height: 27px;
}

#block-system-user-menu .content {
    margin: 0 auto;
}

#block-system-user-menu ul.menu li {
    height: 27px;
}

#block-system-user-menu ul.menu li a {
    font-size: 0.8em;
}

#block-system-user-menu ul.menu li a {
    color: #333333;
    height: 27px;
    line-height: 27px;
}

/* preface */
.preface-wrapper-top .block .content {
    background: none;
    margin-top: 0;
}

.preface-wrapper .content {
    padding: 0;
}


.preface-wrapper .views-row .views-field-field-image img {
    display: block;
    margin-right: 0;
    border: none;
    height: auto;
}

.preface-wrapper .views-row {
    padding: 0;
    background: none;
    overflow: hidden;
    float:  left;
    width: 50%;
}

#main-content #block-views-71dbc5220f3d9ef0557142f31d9de32a .block-inner {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* main menu */
    #block-superfish-1 .content {
        width: 445px;
    }

    /* user-menu */
    #block-system-user-menu {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #block-system-user-menu .content {
        width: 1000px;
    }

    .container_12 .grid_8 {
        width: 920px;
    }

    .preface-wrapper .views-row {
        height: 350px;
    }

    #block-views-71dbc5220f3d9ef0557142f31d9de32a .views-row-2 img {
        padding-top: 3em;
    }

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    /* main menu */
    #block-superfish-1 .content {
        font-size: 0.8em;
        width: 344px;
    }

    #block-system-user-menu .content {
        width: 960px;
    }

    #block-system-user-menu ul.menu li a {
        font-size: 0.7em;
    }

    .container_12 .grid_8 {
        width: 792px;
    }

    .preface-wrapper .views-row {
        height: 290px;
        width: 47%;
    }

    #block-views-71dbc5220f3d9ef0557142f31d9de32a .views-row-2 img {
        padding-top: 2.5em;
    }

}

/* smaller screens */
@media only screen and (max-width: 768px) {

    .preface-wrapper {
        margin-bottom: 2em;
    }

    .preface-wrapper .views-row {
        width: auto;
    }

}



