/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.site-logo img {
    width: 100%;
    max-width: 1000px;
}

/* main-menu background-color */
#block-superfish-1 {
    background-color: #007dbf;
}

.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
    background: #007dbf;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-415 {
	text-align:center;
}

#block-simpleads-ad-groups-415 img {
	max-width:100%;
}

#block-simpleads-ad-groups-416 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-416 img {
	max-width:100%;
}

#block-simpleads-ad-groups-417 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-417 img {
	max-width:100%;
}

#block-simpleads-ad-groups-418 {
	text-align:center;
}

#block-simpleads-ad-groups-418 img {
	max-width:100%;
}

#block-simpleads-ad-groups-419 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-419 img {
	max-width:100%;
}

#block-simpleads-ad-groups-420 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-420 img {
	max-width:100%;
}

#block-simpleads-ad-groups-421 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-421 img {
	max-width:100%;
}

#block-simpleads-ad-groups-422 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-422 img {
	max-width:100%;
}

#block-simpleads-ad-groups-437 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-437 img {
	max-width:100%;
}

#block-simpleads-ad-groups-438 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-438 img {
	max-width:100%;
}

#block-simpleads-ad-groups-439 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-439 img {
	max-width:100%;
}

/* hide info on webforms */
article.node-webform .node-content-wrapper .submitted span {
    display: none;
}

article.node-webform .node-content-wrapper h1.title {
    margin-bottom: 0;
}


/* User Menu */
#block-system-user-menu {
    background-color: #ffffff;
    width: 100%;
}

#block-system-user-menu {
    background-color: #ffffff;
    width: 100%;
    height: 27px;
}

#block-system-user-menu .content {
    margin: 0 auto;
}

#block-system-user-menu ul.menu li {
    height: 27px;
}

#block-system-user-menu ul.menu li a {
    font-size: 0.8em;
}

#block-system-user-menu ul.menu li a {
    color: #333333;
    height: 27px;
    line-height: 27px;
}

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* main menu */
    #block-superfish-1 .content {
        width: 344px;
    }

    /* user-menu */
    #block-system-user-menu {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #block-system-user-menu .content {
        width: 1000px;
    }

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    /* main menu */
    #block-superfish-1 .content {
        font-size: 0.8em;
        width: 244px;
    }

    #block-system-user-menu .content {
        font-size: 0.8em;
        width: 970px;
    }

}

/* smaller screens */
@media only screen and (max-width: 768px) {


}



