
/* preface */
.preface-wrapper-top .block .content {
    background: none;
    margin-top: 0;
}

.preface-wrapper .content {
    padding: 0;
}

.preface-wrapper .views-row .views-field-field-image img {
    display: block;
    margin-right: 0;
    border: none;
    height: auto;
}

.preface-wrapper .views-row {
    padding: 0;
    background: none;
    overflow: hidden;
    float:  left;
    width: 50%;
}

#main-content #block-views-71dbc5220f3d9ef0557142f31d9de32a .block-inner {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    .container_12 .grid_8 {
        width: 920px;
    }

    .preface-wrapper .views-row {
        height: 350px;
    }

    #block-views-71dbc5220f3d9ef0557142f31d9de32a .views-row-2 img {
        padding-top: 3em;
    }

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    .container_12 .grid_8 {
        width: 792px;
    }

    .preface-wrapper .views-row {
        height: 290px;
        width: 47%;
    }

    #block-views-71dbc5220f3d9ef0557142f31d9de32a .views-row-2 img {
        padding-top: 2.5em;
    }

}

/* smaller screens */
@media only screen and (max-width: 768px) {

    .preface-wrapper {
        margin-bottom: 2em;
    }

    .preface-wrapper .views-row {
        width: auto;
    }

}


