#block-simpleads-ad-groups-41 .simplead-container img {
    width: 100%;
}
	
@media screen and (min-width: 980px) {

	/* ad below masthead */
	#block-simpleads-ad-groups-41 {
		float: left;
    	width: 66%;
    	margin-bottom: 0;
	}
	
	/*.region-top-area {
		height: 379px;
	}*/

}

@media screen and (max-width: 979px) {

	/* ad below masthead */
	#block-simpleads-ad-groups-41 {
		float: none;
    	width: 100%%;
    	margin-bottom: 0;
	}
	
	/*.region-top-area {
		height: 475px;
	}*/

}

@media screen and (max-width: 766px) {

	#block-simpleads-ad-groups-25 {
	    margin-top: 74px;
	}

}