#adone {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
#adtwo {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#adone img, #adtwo img {
  width: 100%;
  max-width: 830px;
}
