/* desktop browsers */
@media only screen and (min-width: 959px) {

    /* main menu */
    #main-menu ul.menu {
        margin-left: 5em;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* main menu */
    #main-menu ul.menu {
        margin-left: 3em;
    }

}

@media only screen and (max-width: 767px) {

}


/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 1152px;
}

.site-logo img {
    width: 100%;
    max-width: 1152px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-415 {
	text-align:center;
}

#block-simpleads-ad-groups-415 img {
	max-width:100%;
}

#block-simpleads-ad-groups-416 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-416 img {
	max-width:100%;
}

#block-simpleads-ad-groups-417 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-417 img {
	max-width:100%;
}

#block-simpleads-ad-groups-418 {
	text-align:center;
}

#block-simpleads-ad-groups-418 img {
	max-width:100%;
}

#block-simpleads-ad-groups-419 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-419 img {
	max-width:100%;
}

#block-simpleads-ad-groups-420 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-420 img {
	max-width:100%;
}

#block-simpleads-ad-groups-421 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-421 img {
	max-width:100%;
}

#block-simpleads-ad-groups-422 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-422 img {
	max-width:100%;
}
